// Import material theming functions
@import '~@angular/material/theming';

// Copy the palettes from your selected theme (usually theme.scss).
// $app-primary: mat-palette($mat-grey);
$app-primary:    mat-palette($mat-purple);

// Create your Sass color vars (will be available in all the project)
$primary: mat-color($app-primary);
$dark: #303030;
$light: white;